<div class="row" >
  <div class="col-md-12">
    </br>
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    <span>Please complete the table below </span>
  </div>
  <h3 class="col-md-12" for="">Immediate Corrective Action(s) ({{corActions.length}} of 5 available)</h3>
   <table class="table">
        <thead>
            <tr>
                <th>Description of Corrective Action*</th>
                <th>Action Taken By(Name)*</th>
                <th>Company*</th>
                <th>Date*</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="action in corActions">
                <td>
                  <textarea  class="form-control" rows="1" data-ng-model="action.description"> </textarea>
                </td>
                <td><input type="text" class="form-control" data-ng-model="action.takenBy"/></td>
                <td>
                  <select class="form-control"  data-ng-model="action.company" data-ng-options="company for company in companyes">
                  </select>
                </td>
                <td><p class="input-group ">
                  <input type="text" class="form-control col-lg-1" datepicker-popup="{{format}}" ng-model="action.date" is-open="opened" min-date="minDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                </td>
                <td><button type="button" class="btn btn-danger" data-ng-click="removeAction($index)">REMOVE</button></td>
            </tr>
             <tr>
                <td>
                  <textarea  class="form-control" rows="1" data-ng-model="corAction.description"> </textarea>
                </td>
                <td><input type="text" class="form-control" data-ng-model="corAction.takenBy"/></td>
                <td>
                  <select class="form-control" data-ng-model="comp" data-ng-options="company for company in companyes">
                  </select>
                </td>
                <td><p class="input-group ">
                  <input type="text" class="form-control col-lg-1" datepicker-popup="{{format}}" ng-model="corAction.date" is-open="opened" min-date="minDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                </td>
                <td><button type="button" class="btn btn-primary" data-ng-click="addCorAction(corAction.description,corAction.takenBy,comp,corAction.date)"  ng-disabled="!corAction.description || !corAction.takenBy || !corAction.date || !comp || corActions.length >= 5">ADD</button></td>
            </tr>
        </tbody>
    </table>
</div>