<div class="row">
  <div class="col-md-12">
    </br>
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    Please complete the form below based on available information. Click on applicable tabs above to enter an additional information related to the incident.</br> When complete click 'REVIEW and SUBMIT' tab above.
  </div>
    <div class="col-md-6">
      <form name="myForm" class="well form-horizontal" novalidate>
        <div class="form-group">
          <label class="col-md-4" for="">*Date and Time of Incedent</label>
          <div class="col-md-8">
              <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">    
                    <div class="input-group">
                      <input type="text" class="form-control" name="date" data-ng-model="generalModel.date" data-date-format="yyyy-mm-dd hh:ii" required >
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="generalModel.date"
                                    date-format="dd-MMM-yyyy"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2'}">
                    </datetimepicker>
                </ul>
              </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4" for="">*Reported by</label>
          <div class="col-md-8">
              <input type="text" class="form-control" data-ng-model="generalModel.reportedBy">
          </div>
        </div>
        <div class="form-group">
         <label class="col-md-4" for="">*Company of reporter</label>
         <div class="col-md-8">
              <select class="form-control" data-ng-model="generalModel.company" data-ng-options="company for company in companyes">
            </select>
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4" for="">*Contact number</label>
            <div class="col-md-8">
              <input type="text" class="form-control" ng-pattern="/^\(?([0-9]{3})\)?[.. ]?([0-9]{3})[.. ]?([0-9]{4})$/" data-ng-model="generalModel.phone" >
            </div>
        </div>
        <div class="form-group">
            <span class="col-md-4" for="">Supervisors name</span>
            <div class="col-md-8">
              <input type="text" class="form-control" data-ng-model="generalModel.supervisor">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4" for="">*High Level Description of Incident</label>
            <div class="col-md-8">
              <textarea  class="form-control" rows="3" data-ng-model="generalModel.description"> </textarea>
            </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form class="well form-horizontal">
        <div class="text-center "><h3>Well information</h3></div>
        <div class="form-group">
          <label class="col-md-4" for="">*Well Number</label>
          <div class="col-md-8">
            <select class="form-control"  data-ng-model="generalModel.wellNumber" data-ng-options="number.well for number in wellNumbers">
            </select>
            </div>
       </div>
        <div class="form-group">
            <span class="col-md-4" for="">Region</span>
            <div class="col-md-8"><input readonly="readonly" type="text" data-ng-model="generalModel.wellNumber.region" class="form-control"></div>
        </div>
        <div class="form-group">
            <span class="col-md-4" for="">State</span>
            <div class="col-md-8"><input readonly="readonly" data-ng-model="generalModel.wellNumber.state" type="text" class="form-control"></div>
        </div>
        <div class="form-group">
            <span class="col-md-4" for="">Office</span>
            <div class="col-md-8"><input readonly="readonly" data-ng-model="generalModel.wellNumber.fieldOffice" type="text" class="form-control"></div>
        </div>

      <div class="checkbox" data-ng-repeat="sev in generalModel.severity"  >
        <label>
          <input type="checkbox" value="" data-ng-model="sev.checked" ng-disabled="generalModel.noneApply" data-ng-checked="sev.checked">
          {{sev.name}}
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" data-ng-model="generalModel.noneApply">
          None Apply
        </label>
      </div>
      </form>
    </div>
 </div>
</div>
