<div class="row" data-ng-init="checkSubmit()">
  <div class="col-md-12">
    </br>
    <div class="col-md-11">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      <span>Please review all the incident information and click "Submit" to send the report of the company.</br> If You want to change something - return to the incident form.</span>
    </div>
    <div class="col-md-1">
    </br>
    <button type="button" class="btn btn-default" ng-disabled="checkSubmit()"  data-ng-click="submit()">SUBMIT</button>  </div>
  </div>

    <div class="col-md-12">
      <h3 class="col-md-12" for="">General Information :</h3>
      <div class="col-md-6">
      <table class="table">
        <tbody>
            <tr>
                <td>Date and Time of Incident:</td>
                <td>{{generalModel.date | date:"MM/dd/yyyy  h:mma"}} <span data-ng-if="!generalModel.date" class="label label-danger">This field is required</span></td>
            </tr>
             <tr>
                <td>Reported By:</td>
                <td>{{generalModel.reportedBy}}<span data-ng-if="!generalModel.reportedBy" class="label label-danger">This field is required</span></td>
            </tr>
             <tr>
                <td>Company of Reporter:</td>
                <td>{{generalModel.company}}<span data-ng-if="!generalModel.company" class="label label-danger">This field is required</span></td>
            </tr>
             <tr>
                <td>Contact number:</td>
                <td>{{generalModel.phone}}<span data-ng-if="!generalModel.phone || !phoneRegex()" class="label label-danger">This field is required</span>
                </td>
            </tr>
             <tr>
                <td>Supervisor Name:</td>
                <td>{{generalModel.supervisor}}</td>
            </tr>
             <tr>
                <td>High Level Description of Incident:</td>
                <td>{{generalModel.description}}<span data-ng-if="!generalModel.description" class="label label-danger">This field is required</span></td>
                
            </tr>
             <tr>
                <td>Well Number:</td>
                <td>{{generalModel.wellNumber.well}}<span data-ng-if="!generalModel.wellNumber.well" class="label label-danger">This field is required</span></td>

            </tr>
             <tr>
                <td>Region:</td>
                <td>{{generalModel.wellNumber.region}}</td>
            </tr>
             <tr>
                <td>State:</td>
                <td>{{generalModel.wellNumber.state}}</td>
            </tr>
             <tr>
                <td>Field Office:</td>
                <td>{{generalModel.wellNumber.fieldOffice}}</td>
            </tr>
             <tr>
                <td>Incident Severity(Check all that Apply):</td>
                <td>
                  <span data-ng-repeat="sev in generalModel.severity" data-ng-if="sev.checked && !generalModel.noneApply">{{sev.name}},</span>
                  <span data-ng-if="generalModel.noneApply">None Apply</span>
                  <span data-ng-if="!checkSeverity()" class="label label-danger">This field is required</span>
                </td>
            </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-md-6">
      <h3 for="">Immediate Corrective action(s): </h3>
      <div class="col-md-12">
      <table class="table"  data-ng-repeat="action in corActions">
        <tbody>
            <tr>
                <td>Description of corrective action({{$index+1}})</td>
                <td>{{action.description}}</td>
            </tr>
            <tr>
                <td>Action taken by({{$index+1}})</td>
                <td>{{action.takenBy}}</td>
            </tr>
            <tr>
                <td>Company({{$index+1}})</td>
                <td>{{action.company}}</td>
            </tr>
            <tr>
                <td>Date({{$index+1}})</td>
                <td>{{action.date | date:"MM/dd/yyyy"}}</td>
            </tr>
        </tbody>
      </table>
      </div>
      <div class="alert alert-danger" role="alert" data-ng-if="corActions.length == 0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        At least one record is required
      </div>
    </div>
</div>