<!DOCTYPE html>
<html lang="en" data-ng-app="testApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>Test task</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://rawgit.com/dalelotts/angular-bootstrap-datetimepicker/master/src/css/datetimepicker.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="static/scripts/angular.min.js"></script>
<script src="static/scripts/angular-route.min.js"></script>
<script src="https://rawgit.com/dalelotts/angular-bootstrap-datetimepicker/master/src/js/datetimepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
<!-- <script src="static/scripts/datepicker.js"></script> -->
<script src="static/scripts/controllers.js"></script>
</head>
<body ng-controller="testAppController">
{% raw %}
<h1>Incedent Form</h1>
<ul class="nav nav-tabs">
    <li data-ng-class="{'active': currentTab == selectedTab }" data-ng-repeat="currentTab in main_tabs" ><a data-ng-href="{{currentTab.link}}" data-ng-click="setSelectedTab(currentTab)">{{currentTab.label}}</a></li>
</ul>
<div ng-view class="container"></div>
{% endraw %}
</body>
</html>   